<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Explore</title>
    <link rel="stylesheet" type="text/css" href="../styles.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body class = "container" style="padding-bottom:75px;background:whitesmoke">

<h1 style="text-align:center">Music Forum</h1>

<div th:insert="fragments :: navbar"></div>


<br>

<div>
    <p>Explore what our community is saying.</p>

    <table class = "table table-bordered" style="text-align:center" cellspacing = "1" width = "100%">
        <thead class="thead-light">
        <tr>
            <th th:text="${header}"></th>
        </tr>
        </thead>
        <tr>
            <td th:text = ${postContent}></td>
        </tr>
        <tr>
            <td style="color:blue"><a th:href ="'/explore/edit?postId='+ ${postId}"><strong>Edit this Post</strong></a></td>
        </tr>
    </table>
</div>

<div class="forum-buttons">
    <button class="button-55" ><a th:href="@{/explore}"><strong>Back to Explore</strong></a></button>

    <button class="button-55"><strong>Add to Thread</strong></button>
</div>

</body>
</html>