<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Profile Page</title>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
    <section style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <div th:insert="fragments :: navbar"></div>
                <section style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Forum</a></li>
                        <li class="breadcrumb-item active" aria-current="page" th:text="${user.userName} + ' Profile'"></li>
                    </ol>
      <div class="container">
        <div class="row">
            <div class="col-mb-4 d-flex">
                <div class="card mb-4">
                    <div class="card-body text-center">
                        <img src="../images/avatar.png" alt="avatar"
                             class="rounded-circle img-fluid" style="width: 150px;">
                        <h5
                                class="my-3" th:text="'Username:' + '  ' + '@' + ${user.userName}"></h5>
                        <div class="forum-buttons">
                            <button class="button-55"><a href="#"><strong>Get notifications</strong></a></button>
                        </div>
                        </div>
                    </div>
                </div>
            <div class="col-lg-8 d-flex">
                <div class="card mb-4 flex-fill">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-3">
                                <p class="mb-0">Date of Birth</p>
                            </div>
                            <div class="col-md-9">
                                <p class="text-muted mb-0" th:text="${user.dateOfBirth}"></p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-3">
                                <p class="mb-0">Email</p>
                            </div>
                            <div class="col-md-9">
                                <p class="text-muted mb-0" th:text="${user.email}"></p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-3">
                                <p class="mb-0">Phone Number</p>
                            </div>
                            <div class="col-md-9">
                                <p class="text-muted mb-0" th:text="${user.phoneNumber}"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
      <div class="container-xl mt-3 border">
          <p class="mb-4 text-center"><span class="text-primary">User Bio</span> </p>
          <p class="mb-1 text-center" style="font-size: .70">Edit your bio here!</p>
 </div>
</section>
</body>
</html>