<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Explore</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body class = "container" style="padding-bottom:75px;background:whitesmoke">

<h1 style="text-align:center">Music Forum</h1>

<div th:insert="fragments :: navbar"></div>


<br>

<div>
    <p>Explore what our community is saying.</p>

    <table class = "table table-bordered table-hover" style="text-align:center" cellspacing = "1" width = "100%">
        <thead class="thead-light">
        <tr>
            <th>Post ID</th>
            <th>Post</th>
            <th>User</th>
            <th>Category</th>
        </tr>
        </thead>

        <th:block th:each="post : ${posts}">
            <tr>
                <td th:text = "${post.id}"></td>
                <td><a th:href = "'/explore/content?postId='+ ${post.id}" th:text = "${post.title}"></a></td>
                <td th:text = "${post.user.userName}"></td>
                <td th:text = "${post.category.categoryName}"></td>
            </tr>
        </th:block>

        <tbody>

        </tbody>
    </table>
</div>

</body>
</html>