<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>


<header> Where Application Name and nav bar will be via fragment</header>


<h1>Music Forum Application</h1>

<p>small description/slogan</p>

<p>login form</p>

<form method="post">
    <div class="form-group">
        <label>Username
            <input class="form-control">
        </label>
        <p class="error"></p>
    </div>
    <div class="form-group">
        <label>Password
            <input class="form-control" type="password">
        </label>
        <p class="error"></p>
    </div>

    <input type="submit" class="btn btn-primary" value="Log In" />
</form>

<p>Don't have an account? <a href="/register">Register for one.</a></p>


</body>
</html>