<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create a New Post</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body class = "container" style="padding-bottom:75px;background:whitesmoke">


<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

<h1 style="text-align:center">Music Forum</h1>

<div th:insert="fragments :: navbar"></div>
<br>
<!--<form method="post">-->
<!--    <div>-->
<!--        <p>Category:</p>-->
<!--        <select name="category" required>-->
<!--            <Option value="Category 1">Category 1</Option>-->
<!--            <Option value="Category 2">Category 2</Option>-->
<!--            <Option value="Category 3">Category 3</Option>-->
<!--        </select>-->
<!--    </div>-->
<!--<br>-->
<!--    <div>-->
<!--        <p>Thread Title:</p>-->
<!--        <input type="text" name="title"  size="100" required>-->

<!--    </div>-->
<!--    <br>-->
<!--    <div>-->
<!--        <p>Thread Text:</p>-->
<!--        <textarea name="content" rows=20 cols=100 required></textarea>-->
<!--    </div>-->

<!--    <input type="submit" class="btn btn-primary" value="Submit Thread" />-->
<!--</form>-->

<form method="post">
    <div class="form-group">
        <label>Post Title:
            <input th:field="${post.title}" class="form-control">
        </label>
    </div>

    <br>

    <div class="form-group">
        <label>Post Message:
            <input th:field="${post.content}" class="form-control">
        </label>
    </div>

    <div class="form-group">
        <label>Category:
        <select th:field="${post.category}">
            <option th:each="category : ${categories}"
                    th:value="${category.id}"
                    th:text="${category.name}"></option>
        </select>
        </label>
    </div>

    <div class="form-group">
    <input type="submit" class="btn btn-primary" value="Submit Thread" />
    </div>
</form>



</body>
</html>