<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create a New Post</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body class = "container" style="padding-bottom:75px;background:whitesmoke">


<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

<h1 style="text-align:center">Music Forum</h1>

<div th:insert="fragments :: navbar"></div>

<form method="post">
    <div>
        <p>Category:</p>
        <select th:field="${post.category}" name="category" required>
            <option th:each="category : ${categories}"
                    th:value="${category.id}"
                    th:text="${category.name}"></option>
        </select>
    </div>

    <div>
        <p>Post Title:</p>
        <input th:field="${post.title}" type="text" name="title"  size="100" required>

    </div>
    <br>
    <div>
        <p>Post Message:</p>
        <textarea th:field="${post.content}" name="content" rows=20 cols=100 required></textarea>
    </div>

    <input type="submit" class="btn btn-primary" value="Submit Thread" />
</form>



</body>
</html>