<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Form Register</title>
    <link rel="stylesheet" type="text/css" href="styles.css">

    <link rel="stylesheet" type="text/css" href="styles.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
    <style type= "style/css">
<!--        .form-signup{-->
<!--        margin: 0 auto;-->
<!--        max-width: 300px;-->
<!--        }-->
    </style>

    <style type="style/css">

    </style>
</head>
<body class = "container" style="padding-bottom:75px;background:whitesmoke">
<div class="container">
    <form class="form-signup">
<h1 style="text-align: center">Music Forum</h1>
        <br>
<!--<<<<<<< HEAD-->

<!--        <div th:insert="fragments :: navbar"></div>-->

<!--        <br>-->
<!--<p style="text-align: center">Register for your very own account!</p>-->
<!--        <div class="form-group">-->
<!--            <div class="row">-->
<!--                <div class="form-group">-->
<!--                    <input type="text" class="form-control" name="username" placeholder="Username">-->
<!--                </div>-->
<!--                <div class="form-group">-->
<!--                    <input type="email" class="form-control" name="email" placeholder="Email Address">-->
<!--                </div>-->
<!--                <div class="form-group">-->
<!--                    <input type="password" class="form-control" name="password" placeholder="Password">-->
<!--                </div>-->
<!--                <div class="form-group">-->
<!--                    <input type="password" class="form-control" name="confirm_password" placeholder="Confirm Password">-->
<!--                </div>-->
<!--=======-->
        <div th:insert="fragments :: navbar"></div>
        <br>
<p style="text-align: center">Register for your very own account!</p>
<!--        <div class="form-group">-->
<!--            <div class="row">-->
<!--                <div class="form-group">-->
<!--                    <input type="text" class="form-control" name="username" placeholder="Username">-->
<!--                </div>-->
<!--                <div class="form-group">-->
<!--                    <input type="email" class="form-control" name="email" placeholder="Email Address">-->
<!--                </div>-->
<!--                <div class="form-group">-->
<!--                    <input type="password" class="form-control" name="password" placeholder="Password">-->
<!--                </div>-->
<!--                <div class="form-group">-->
<!--                    <input type="password" class="form-control" name="confirm_password" placeholder="Confirm Password">-->
<!--                    </div>-->
<!--&gt;>>>>>> 8809f7d6ef7df28f15e36258ea9a190f11929082-->


                    <div class="form-group">
                    <label>Username
                        <input class="form-control" th:field="${registerDTO.username}">
                    </label>
                        <p class="error" th:errors="${registerDTO.username}"></p>
                        </div>
                    <div class="form-group">
                        <label>Email
                            <input class="form-control" type="email">
                        </label>
                    </div>
                    <div class="form-group">
                        <label>Password
                            <input class="form-control" th:field="${registerDTO.password}" type="password">
                        </label>
                        <p class="error" th:errors="${registerDTO.password}"></p>
                    </div>
                    <div class="form-group">
                        <label>Verify Password
                            <input class="form-control" th:field="${registerDTO.verifyPassword}" type="password">
                        </label>
                    </div>
                <div class="form-group">
                    <label>DateOfBirth
                        <input class="form-control" th:field="${registerDTO.dateOfBirth}">
                    </label>
                    <p class="error" th:errors="${registerDTO.dateOfBirth}"></p>
                </div>
                <div class="form-group">
                    <label>PhoneNumber
                        <input class="form-control" th:field="${registerDTO.phoneNumber}">
                    </label>
                    <p class="error" th:errors="${registerDTO.phoneNumber}"></p>
                </div>



        <div>
        <input type="submit" class="btn btn-primary" name="" value="Sign Up">
        <p>Already have an account? <a href="/login">Login here.</a></p>
    </form>
</div>

</body>
</html>