<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Form Register</title>
    <link rel="stylesheet" type="text/css" href="styles.css">

    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
    <style type= "style/css">
<!--        .form-signup{-->
<!--        margin: 0 auto;-->
<!--        max-width: 300px;-->
<!--        }-->
    </style>

    <style type="style/css">

    </style>
</head>
<body class="container" style="padding-bottom:75px;background:whitesmoke">
<div class="container">

    <h1 style="text-align: center">Music Forum</h1>
    <br>
    <div th:insert="fragments :: navbar"></div>
    <br>
    <p style="text-align: center">Register for your very own account!</p>

    <!-- User registration form -->
    <form class="form-signup" th:action="@{/register}" method="post" th:object="${userRegister}">
        <div class="form-group">
            <label>Username
                <input class="form-control" type="text" th:field="*{userName}">
            </label>
        </div>

        <div class="form-group">
            <label>Email
                <input class="form-control" type="text" th:field="*{email}">
            </label>
        </div>

        <div class="form-group">
            <label>Phone number
                <input class="form-control" type="text" th:field="*{phoneNumber}">
            </label>
        </div>

        <div class="form-group">
            <label>Date of birth
                <input class="form-control" type="date" th:field="*{dateOfBirth}">
            </label>
        </div>

        <div class="form-group">
            <label>Password
                <input class="form-control" type="password" th:field="*{password}">
            </label>
        </div>

        <input type="submit" class="btn btn-primary" name="" value="Sign Up">
        <p>Already have an account? <a href="/login">Login here.</a></p>
    </form>
</div>
</body>
</html>